wopr.lan:443, ai.core.lan:443 {
	tls internal
	
	handle_path /n8n/* {
		reverse_proxy n8n:5678
	}

	handle_path /llama/api/* {
		# Validacion de las API-Key
		reverse_proxy http://llama.cpp:8080 {
			rewrite /api{uri}
		}
	}
	
	handle /* {
		reverse_proxy http://openwebui:8080
	}
}
